<strong>Olá {{ organizer }}!</strong>
<p>Houve uma nova inscrição no meetup:<br />
  <strong>Titulo: </strong>{{meetup}}<br />
  <strong>Data: </strong>{{date}}<br />
  <strong>Local: </strong>{{local}}
</p>
<p>Os dados do inscrito estão abaixo:</p>
<p>
  <strong>Nome: </strong> {{ user }} <br />
  <strong>E-mail: </strong> {{ email }} <br />
</p>
